// @import "../../../../sassStyles/abstract/mixins";

.header {
  //   @include areaSetUp;
  //   max-width: 120rem;
  margin: auto;
  padding: 2rem;
  background-color: #f0faf3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
